.linenum-cell:first-child:after {
    content: attr(data-linenum);
}

tr:hover {
  background-color: #cccccc;
}

td:hover {
  background-color: #e5e5e5;
}

pre {
  margin-bottom: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px;
}

